body{
    background-color: darkslategrey;
    text-transform: capitalize;
    text-align: center;
    text-decoration:underline ;
    text-size-adjust: 100px;
    }
    h1{
    color: maroon;
    text-transform: uppercase;
    }
    h2{
    color: crimson;
    text-transform: lowercase;
    font-size: large;
    }
    p{
    color: white;    
    text-transform: lowercase;
    font-size: large;
    }